{
  "arrowParens": "avoid",
  "experimentalTernaries": true,
  "objectWrap": "preserve",
  "printWidth": 120,
  "quoteProps": "as-needed",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "singleAttributePerLine": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-jsdoc"]
}
